In [69]:
import numpy as np # linear algebra
import pandas as pd # data processing
from sklearn.preprocessing import Imputer
from sklearn.neighbors import NearestNeighbors
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
from IPython.display import display
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
ground_data_1 = pd.read_csv(r"C:\Users\kshah3\Documents\Kartik IMP\CSC591 ML\Ap1\AP1 Materials and Files-20190829\train_data\train_data\train_groundtruth\tr_grnd_1.csv")
ground_data_1

,time,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
0,0,231.455136,7.065539,31.552362,176.942885,74.724240,19.164741,160.585702,196.760533,15.656928,21.489706,52.592477,3.937804,202.422745
1,225,233.443180,6.284800,36.515232,176.942885,69.607372,17.303101,160.585702,187.434032,19.769887,21.489706,53.611339,3.937804,242.045839
2,800,229.467092,6.909391,36.515232,173.675164,67.962665,17.569049,155.495242,213.340979,28.124336,22.059795,54.630201,3.780817,261.064923
3,1515,225.491003,6.597096,34.860942,172.585924,64.855995,16.505255,158.888882,207.123312,25.296676,22.344839,49.535892,3.309856,199.252898
4,3013,231.455136,6.597096,43.132392,179.121366,62.663051,15.973358,160.585702,195.724255,19.127237,22.202317,34.252965,2.838896,188.158431
5,3746,231.455136,6.440948,44.786682,178.032126,61.566580,15.441460,158.888882,206.087034,15.528398,22.487361,30.177517,2.367935,192.913203
6,4434,229.467092,6.284800,46.440972,176.942885,62.114816,15.707409,158.888882,228.885147,16.042518,22.629883,30.177517,2.524922,215.102135
7,4789,237.419269,7.065539,48.095262,183.478327,NaN,NaN,NaN,NaN,NaN,NaN,30.177517,2.681909,216.687059
8,6140,227.479047,6.128653,43.132392,178.032126,61.201089,15.042537,160.585702,275.517651,15.656928,23.057450,29.158655,2.367935,433.821611
9,7497,235.431225,7.221687,43.132392,181.299846,63.211287,15.973358,162.282522,294.170652,14.885748,22.772405,30.177517,2.367935,210.347364
10,8940,229.467092,7.377834,44.786682,180.210606,69.607372,17.436075,160.585702,375.000325,21.697837,22.629883,30.177517,2.524922,213.517211
11,9496,229.467092,8.002425,44.786682,178.032126,NaN,NaN,NaN,NaN,NaN,NaN,33.234103,2.681909,208.762440
12,10378,227.479047,7.846278,41.478102,175.853645,68.693646,17.170126,162.282522,343.911989,19.255767,23.199972,42.403859,2.367935,224.611677
13,11874,235.431225,8.002425,38.169522,175.853645,54.074023,13.712794,160.585702,390.544493,20.155477,23.627538,72.969714,2.210948,237.291067
14,13161,243.383402,7.533982,41.478102,180.210606,61.383834,15.973358,162.282522,368.782658,15.271338,23.485016,45.460445,2.210948,200.837821
15,14639,239.407313,7.065539,39.823812,176.942885,57.911674,15.175512,162.282522,323.186432,12.700738,23.770060,24.064346,2.053961,223.026754
16,16149,237.419269,7.377834,39.823812,176.942885,56.997947,14.909563,162.282522,355.311046,10.901318,23.342494,18.970037,1.896974,191.328279

In [3]:
columns = ['Time', 'Chloride', 'Potassium', 'Bicarb', 'Sodium', 'Hematocrit', 'Hemoglobin', 'MCV', 'Platelets', 'WBC Count', 'RDW', 'BUN', 'Creatine', 'Glucose']
ground_data_1.columns=columns
ground_data_1 = ground_data_1.iloc[0:, 1:]
ground_data_1.head()

,Chloride,Potassium,Bicarb,Sodium,Hematocrit,Hemoglobin,MCV,Platelets,WBC Count,RDW,BUN,Creatine,Glucose
0,231.455136,7.065539,31.552362,176.942885,74.724240,19.164741,160.585702,196.760533,15.656928,21.489706,52.592477,3.937804,202.422745
1,233.443180,6.284800,36.515232,176.942885,69.607372,17.303101,160.585702,187.434032,19.769887,21.489706,53.611339,3.937804,242.045839
2,229.467092,6.909391,36.515232,173.675164,67.962665,17.569049,155.495242,213.340979,28.124336,22.059795,54.630201,3.780817,261.064923
3,225.491003,6.597096,34.860942,172.585924,64.855995,16.505255,158.888882,207.123312,25.296676,22.344839,49.535892,3.309856,199.252898
4,231.455136,6.597096,43.132392,179.121366,62.663051,15.973358,160.585702,195.724255,19.127237,22.202317,34.252965,2.838896,188.158431

In [4]:
missing_data_1 = pd.read_csv(r"C:\Users\kshah3\Documents\Kartik IMP\CSC591 ML\Ap1\AP1 Materials and Files-20190829\train_data\train_data\train_with_missing\tr_miss_1.csv")
missing_data_1

,time,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
0,0,231.455136,7.065539,NaN,176.942885,74.724240,19.164741,160.585702,196.760533,15.656928,21.489706,52.592477,3.937804,202.422745
1,225,233.443180,6.284800,36.515232,176.942885,69.607372,17.303101,160.585702,187.434032,19.769887,21.489706,53.611339,3.937804,242.045839
2,800,229.467092,6.909391,36.515232,173.675164,67.962665,17.569049,155.495242,213.340979,28.124336,22.059795,54.630201,3.780817,261.064923
3,1515,225.491003,6.597096,34.860942,172.585924,64.855995,16.505255,158.888882,207.123312,25.296676,22.344839,49.535892,3.309856,199.252898
4,3013,231.455136,6.597096,43.132392,179.121366,62.663051,15.973358,160.585702,195.724255,19.127237,22.202317,34.252965,2.838896,188.158431
5,3746,231.455136,6.440948,44.786682,178.032126,NaN,NaN,158.888882,206.087034,15.528398,22.487361,30.177517,2.367935,192.913203
6,4434,229.467092,6.284800,46.440972,176.942885,62.114816,15.707409,158.888882,228.885147,16.042518,22.629883,30.177517,2.524922,NaN
7,4789,237.419269,7.065539,48.095262,183.478327,NaN,NaN,NaN,NaN,NaN,NaN,30.177517,2.681909,216.687059
8,6140,227.479047,6.128653,43.132392,178.032126,61.201089,15.042537,NaN,275.517651,15.656928,23.057450,NaN,2.367935,433.821611
9,7497,235.431225,7.221687,43.132392,181.299846,63.211287,15.973358,162.282522,NaN,14.885748,22.772405,30.177517,2.367935,210.347364
10,8940,229.467092,NaN,44.786682,180.210606,69.607372,17.436075,160.585702,375.000325,21.697837,22.629883,30.177517,2.524922,213.517211
11,9496,229.467092,8.002425,44.786682,178.032126,NaN,NaN,NaN,NaN,NaN,NaN,33.234103,2.681909,208.762440
12,10378,227.479047,7.846278,41.478102,175.853645,68.693646,17.170126,162.282522,343.911989,19.255767,23.199972,42.403859,2.367935,224.611677
13,11874,235.431225,8.002425,38.169522,175.853645,54.074023,13.712794,160.585702,390.544493,20.155477,23.627538,72.969714,2.210948,237.291067
14,13161,243.383402,7.533982,41.478102,180.210606,61.383834,15.973358,162.282522,368.782658,15.271338,NaN,45.460445,NaN,200.837821
15,14639,NaN,7.065539,39.823812,176.942885,57.911674,15.175512,162.282522,323.186432,12.700738,23.770060,24.064346,2.053961,223.026754
16,16149,237.419269,7.377834,39.823812,NaN,56.997947,14.909563,162.282522,355.311046,NaN,23.342494,18.970037,1.896974,191.328279

In [5]:
columns = ['Time', 'Chloride', 'Potassium', 'Bicarb', 'Sodium', 'Hematocrit', 'Hemoglobin', 'MCV', 'Platelets', 'WBC Count', 'RDW', 'BUN', 'Creatine', 'Glucose']
missing_data_1.columns=columns
missing_data_1 = missing_data_1.iloc[0:, 1:]
missing_data_1.head()

,Chloride,Potassium,Bicarb,Sodium,Hematocrit,Hemoglobin,MCV,Platelets,WBC Count,RDW,BUN,Creatine,Glucose
0,231.455136,7.065539,NaN,176.942885,74.724240,19.164741,160.585702,196.760533,15.656928,21.489706,52.592477,3.937804,202.422745
1,233.443180,6.284800,36.515232,176.942885,69.607372,17.303101,160.585702,187.434032,19.769887,21.489706,53.611339,3.937804,242.045839
2,229.467092,6.909391,36.515232,173.675164,67.962665,17.569049,155.495242,213.340979,28.124336,22.059795,54.630201,3.780817,261.064923
3,225.491003,6.597096,34.860942,172.585924,64.855995,16.505255,158.888882,207.123312,25.296676,22.344839,49.535892,3.309856,199.252898
4,231.455136,6.597096,43.132392,179.121366,62.663051,15.973358,160.585702,195.724255,19.127237,22.202317,34.252965,2.838896,188.158431

In [6]:
def Impute_error(imputed, answer):
    return np.sqrt(np.square(imputed-answer).sum())/len(answer)

In [7]:
#Tech 1 : Forward fill. propagate[s] last valid observation forward to next valid
mdffill = missing_data_1.copy()
mdimpute1 = mdffill.fillna(method='ffill')
display(Impute_error(mdimpute1, ground_data_1))

Chloride      0.233888
Potassium     0.009185
Bicarb        0.000000
Sodium        0.000000
Hematocrit    0.064498
Hemoglobin    0.031288
MCV           0.099813
Platelets     1.097235
WBC Count     0.105848
RDW           0.008384
BUN           0.059933
Creatine      0.000000
Glucose       1.305231
dtype: float64

In [73]:
#Tech 1 : Backward fill. propagate[s] next valid observation backward to previous valid
mdffill = missing_data_1.copy()
mdimpute1 = mdffill.fillna(method='bfill')
print(mdimpute1)
display(Impute_error(mdimpute1, ground_data_1))

      Chloride  Potassium     Bicarb      Sodium  Hematocrit  Hemoglobin  \
0   231.455136   7.065539  36.515232  176.942885   74.724240   19.164741
1   233.443180   6.284800  36.515232  176.942885   69.607372   17.303101
2   229.467092   6.909391  36.515232  173.675164   67.962665   17.569049
3   225.491003   6.597096  34.860942  172.585924   64.855995   16.505255
4   231.455136   6.597096  43.132392  179.121366   62.663051   15.973358
5   231.455136   6.440948  44.786682  178.032126   62.114816   15.707409
6   229.467092   6.284800  46.440972  176.942885   62.114816   15.707409
7   237.419269   7.065539  48.095262  183.478327   61.201089   15.042537
8   227.479047   6.128653  43.132392  178.032126   61.201089   15.042537
9   235.431225   7.221687  43.132392  181.299846   63.211287   15.973358
10  229.467092   8.002425  44.786682  180.210606   69.607372   17.436075
11  229.467092   8.002425  44.786682  178.032126   68.693646   17.170126
12  227.479047   7.846278  41.478102  175.853645   68.693646   17.170126
13  235.431225   8.002425  38.169522  175.853645   54.074023   13.712794
14  243.383402   7.533982  41.478102  180.210606   61.383834   15.973358
15  237.419269   7.065539  39.823812  176.942885   57.911674   15.175512
16  237.419269   7.377834  39.823812         NaN   56.997947   14.909563

           MCV   Platelets  WBC Count        RDW        BUN  Creatine  \
0   160.585702  196.760533  15.656928  21.489706  52.592477  3.937804
1   160.585702  187.434032  19.769887  21.489706  53.611339  3.937804
2   155.495242  213.340979  28.124336  22.059795  54.630201  3.780817
3   158.888882  207.123312  25.296676  22.344839  49.535892  3.309856
4   160.585702  195.724255  19.127237  22.202317  34.252965  2.838896
5   158.888882  206.087034  15.528398  22.487361  30.177517  2.367935
6   158.888882  228.885147  16.042518  22.629883  30.177517  2.524922
7   162.282522  275.517651  15.656928  23.057450  30.177517  2.681909
8   162.282522  275.517651  15.656928  23.057450  30.177517  2.367935
9   162.282522  375.000325  14.885748  22.772405  30.177517  2.367935
10  160.585702  375.000325  21.697837  22.629883  30.177517  2.524922
11  162.282522  343.911989  19.255767  23.199972  33.234103  2.681909
12  162.282522  343.911989  19.255767  23.199972  42.403859  2.367935
13  160.585702  390.544493  20.155477  23.627538  72.969714  2.210948
14  162.282522  368.782658  15.271338  23.770060  45.460445  2.053961
15  162.282522  323.186432  12.700738  23.770060  24.064346  2.053961
16  162.282522  355.311046        NaN  23.342494  18.970037  1.896974

       Glucose
0   202.422745
1   242.045839
2   261.064923
3   199.252898
4   188.158431
5   192.913203
6   216.687059
7   216.687059
8   433.821611
9   210.347364
10  213.517211
11  208.762440
12  224.611677
13  237.291067
14  200.837821
15  223.026754
16  191.328279

Chloride      0.116944
Potassium     0.036741
Bicarb        0.291934
Sodium        0.000000
Hematocrit    0.032249
Hemoglobin    0.015644
MCV           0.099813
Platelets     4.754687
WBC Count     0.000000
RDW           0.016767
BUN           0.059933
Creatine      0.009235
Glucose       0.093231
dtype: float64

In [66]:
md_score_mean = missing_data_1.copy()
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean', copy=False)
imp_mean.fit_transform(md_score_mean)
imputed_mean = md_score_mean.values

#print(md_score_mean.head())
print(imputed_mean)
display(Impute_error(imputed_mean, ground_data_1))

[[231.45513593   7.06553901  41.68488812 176.94288523  74.7242404
   19.16474078 160.58570238 196.76053313  15.6569277   21.48970638
   52.59247726   3.93780377 202.42274507]
 [233.44318032   6.28480049  36.5152319  176.94288523  69.60737233
   17.30310055 160.58570238 187.43403238  19.76988701  21.48970638
   53.61133908   3.93780377 242.04583853]
 [229.46709155   6.90939131  36.5152319  173.67516439  67.96266473
   17.56904915 155.4952424  213.3409789   28.12433562  22.05979483
   54.6302009    3.7808169  261.06492339]
 [225.49100279   6.5970959   34.86094191 172.58592411  64.85599483
   16.50525473 158.88888239 207.12331174  25.29667609  22.34483906
   49.5358918    3.30985629 199.2528976 ]
 [231.45513593   6.5970959   43.13239186 179.12136579  62.66305137
   15.97335753 160.58570238 195.72425527  19.12723712  22.20231695
   34.2529645    2.83889569 188.15843143]
 [231.45513593   6.4409482   44.78668185 178.03212551  63.92921515
   16.25830246 158.88888239 206.08703388  15.52839772  22.48736117
   30.17751722   2.36793508 192.91320264]
 [229.46709155   6.28480049  46.44097184 176.94288523  62.1148155
   15.70740892 158.88888239 228.88514681  16.04251764  22.62988329
   30.17751722   2.52492195 227.88058262]
 [237.41926908   7.06553901  48.09526183 183.4783269   63.92921515
   16.25830246 160.46450095 276.25784902  18.51212937  22.65024359
   30.17751722   2.68190882 216.68705872]
 [227.47904717   6.12865279  43.13239186 178.03212551  61.20108906
   15.04253741 160.46450095 275.51765054  15.6569277   23.05744963
   39.53831019   2.36793508 433.82161086]
 [235.4312247    7.22168672  43.13239186 181.29984634  63.21128723
   15.97335753 162.28252238 276.25784902  14.88574783  22.7724054
   30.17751722   2.36793508 210.34736376]
 [229.46709155   7.02650209  44.78668185 180.21060607  69.60737233
   17.43607485 160.58570238 375.00032518  21.69783669  22.62988329
   30.17751722   2.52492195 213.51721124]
 [229.46709155   8.00242524  44.78668185 178.03212551  63.92921515
   16.25830246 160.46450095 276.25784902  18.51212937  22.65024359
   33.23410268   2.68190882 208.76244002]
 [227.47904717   7.84627754  41.47810187 175.85364495  68.69364588
   17.17012624 162.28252238 343.91198935  19.2557671   23.19997174
   42.40385906   2.36793508 224.61167741]
 [235.4312247    8.00242524  38.16952189 175.85364495  54.07402281
   13.71279439 160.58570238 390.54449309  20.15547695  23.62753808
   72.96971365   2.21094821 237.29106731]
 [243.38340222   7.53398213  41.47810187 180.21060607  61.38383435
   15.97335753 162.28252238 368.78265801  15.27133777  22.65024359
   45.46044452   2.74077889 200.83782133]
 [232.20065258   7.06553901  39.82381188 176.94288523  57.91167387
   15.17551171 162.28252238 323.18643214  12.7007382   23.7700602
   24.0643463    2.05396134 223.02675367]
 [237.41926908   7.37783442  39.82381188 177.75981544  56.99794743
   14.90956311 162.28252238 355.31104582  18.51212937  23.34249386
   18.9700372    1.89697447 191.3282789 ]]

Chloride      0.423921
Potassium     0.020667
Bicarb        0.596031
Sodium        0.048055
Hematocrit    0.138979
Hemoglobin    0.048050
MCV           0.007129
Platelets     1.053694
WBC Count     0.447695
RDW           0.049104
BUN           0.610568
Creatine      0.031167
Glucose       0.751673
dtype: float64

In [76]:
md_score_median = missing_data_1.copy()
imp_median = SimpleImputer(missing_values=np.nan, strategy='median', copy=False)
imp_median.fit_transform(md_score_median)
imputed_median = md_score_median.values

#print(md_score_mean.head())
print(imputed_median)
display(Impute_error(imputed_median, ground_data_1))

[[231.45513593   7.06553901  42.30524686 176.94288523  74.7242404
   19.16474078 160.58570238 196.76053313  15.6569277   21.48970638
   52.59247726   3.93780377 202.42274507]
 [233.44318032   6.28480049  36.5152319  176.94288523  69.60737233
   17.30310055 160.58570238 187.43403238  19.76988701  21.48970638
   53.61133908   3.93780377 242.04583853]
 [229.46709155   6.90939131  36.5152319  173.67516439  67.96266473
   17.56904915 155.4952424  213.3409789   28.12433562  22.05979483
   54.6302009    3.7808169  261.06492339]
 [225.49100279   6.5970959   34.86094191 172.58592411  64.85599483
   16.50525473 158.88888239 207.12331174  25.29667609  22.34483906
   49.5358918    3.30985629 199.2528976 ]
 [231.45513593   6.5970959   43.13239186 179.12136579  62.66305137
   15.97335753 160.58570238 195.72425527  19.12723712  22.20231695
   34.2529645    2.83889569 188.15843143]
 [231.45513593   6.4409482   44.78668185 178.03212551  62.9371693
   15.97335753 158.88888239 206.08703388  15.52839772  22.48736117
   30.17751722   2.36793508 192.91320264]
 [229.46709155   6.28480049  46.44097184 176.94288523  62.1148155
   15.70740892 158.88888239 228.88514681  16.04251764  22.62988329
   30.17751722   2.52492195 211.9322875 ]
 [237.41926908   7.06553901  48.09526183 183.4783269   62.9371693
   15.97335753 160.58570238 252.20139868  17.58487738  22.62988329
   30.17751722   2.68190882 216.68705872]
 [227.47904717   6.12865279  43.13239186 178.03212551  61.20108906
   15.04253741 160.58570238 275.51765054  15.6569277   23.05744963
   33.74353359   2.36793508 433.82161086]
 [235.4312247    7.22168672  43.13239186 181.29984634  63.21128723
   15.97335753 162.28252238 252.20139868  14.88574783  22.7724054
   30.17751722   2.36793508 210.34736376]
 [229.46709155   7.06553901  44.78668185 180.21060607  69.60737233
   17.43607485 160.58570238 375.00032518  21.69783669  22.62988329
   30.17751722   2.52492195 213.51721124]
 [229.46709155   8.00242524  44.78668185 178.03212551  62.9371693
   15.97335753 160.58570238 252.20139868  17.58487738  22.62988329
   33.23410268   2.68190882 208.76244002]
 [227.47904717   7.84627754  41.47810187 175.85364495  68.69364588
   17.17012624 162.28252238 343.91198935  19.2557671   23.19997174
   42.40385906   2.36793508 224.61167741]
 [235.4312247    8.00242524  38.16952189 175.85364495  54.07402281
   13.71279439 160.58570238 390.54449309  20.15547695  23.62753808
   72.96971365   2.21094821 237.29106731]
 [243.38340222   7.53398213  41.47810187 180.21060607  61.38383435
   15.97335753 162.28252238 368.78265801  15.27133777  22.62988329
   45.46044452   2.52492195 200.83782133]
 [231.45513593   7.06553901  39.82381188 176.94288523  57.91167387
   15.17551171 162.28252238 323.18643214  12.7007382   23.7700602
   24.0643463    2.05396134 223.02675367]
 [237.41926908   7.37783442  39.82381188 177.48750537  56.99794743
   14.90956311 162.28252238 355.31104582  17.58487738  23.34249386
   18.9700372    1.89697447 191.3282789 ]]

Chloride      0.467775
Potassium     0.018370
Bicarb        0.632523
Sodium        0.032036
Hematocrit    0.080623
Hemoglobin    0.031288
MCV           0.000000
Platelets     2.468780
WBC Count     0.393151
RDW           0.050302
BUN           0.269699
Creatine      0.018469
Glucose       0.186462
dtype: float64

In [77]:
md_score_most_frequent = missing_data_1.copy()
imp_most_frequent = SimpleImputer(missing_values=np.nan, strategy='most_frequent', copy=False)
imp_most_frequent.fit_transform(md_score_most_frequent)
imputed_most_frequent = md_score_most_frequent.values

#print(md_score_mean.head())
print(imputed_most_frequent)
display(Impute_error(imputed_most_frequent, ground_data_1))

[[231.45513593   7.06553901  43.13239186 176.94288523  74.7242404
   19.16474078 160.58570238 196.76053313  15.6569277   21.48970638
   52.59247726   3.93780377 202.42274507]
 [233.44318032   6.28480049  36.5152319  176.94288523  69.60737233
   17.30310055 160.58570238 187.43403238  19.76988701  21.48970638
   53.61133908   3.93780377 242.04583853]
 [229.46709155   6.90939131  36.5152319  173.67516439  67.96266473
   17.56904915 155.4952424  213.3409789   28.12433562  22.05979483
   54.6302009    3.7808169  261.06492339]
 [225.49100279   6.5970959   34.86094191 172.58592411  64.85599483
   16.50525473 158.88888239 207.12331174  25.29667609  22.34483906
   49.5358918    3.30985629 199.2528976 ]
 [231.45513593   6.5970959   43.13239186 179.12136579  62.66305137
   15.97335753 160.58570238 195.72425527  19.12723712  22.20231695
   34.2529645    2.83889569 188.15843143]
 [231.45513593   6.4409482   44.78668185 178.03212551  69.60737233
   15.97335753 158.88888239 206.08703388  15.52839772  22.48736117
   30.17751722   2.36793508 192.91320264]
 [229.46709155   6.28480049  46.44097184 176.94288523  62.1148155
   15.70740892 158.88888239 228.88514681  16.04251764  22.62988329
   30.17751722   2.52492195 188.15843143]
 [237.41926908   7.06553901  48.09526183 183.4783269   69.60737233
   15.97335753 160.58570238 187.43403238  15.6569277   21.48970638
   30.17751722   2.68190882 216.68705872]
 [227.47904717   6.12865279  43.13239186 178.03212551  61.20108906
   15.04253741 160.58570238 275.51765054  15.6569277   23.05744963
   30.17751722   2.36793508 433.82161086]
 [235.4312247    7.22168672  43.13239186 181.29984634  63.21128723
   15.97335753 162.28252238 187.43403238  14.88574783  22.7724054
   30.17751722   2.36793508 210.34736376]
 [229.46709155   7.06553901  44.78668185 180.21060607  69.60737233
   17.43607485 160.58570238 375.00032518  21.69783669  22.62988329
   30.17751722   2.52492195 213.51721124]
 [229.46709155   8.00242524  44.78668185 178.03212551  69.60737233
   15.97335753 160.58570238 187.43403238  15.6569277   21.48970638
   33.23410268   2.68190882 208.76244002]
 [227.47904717   7.84627754  41.47810187 175.85364495  68.69364588
   17.17012624 162.28252238 343.91198935  19.2557671   23.19997174
   42.40385906   2.36793508 224.61167741]
 [235.4312247    8.00242524  38.16952189 175.85364495  54.07402281
   13.71279439 160.58570238 390.54449309  20.15547695  23.62753808
   72.96971365   2.21094821 237.29106731]
 [243.38340222   7.53398213  41.47810187 180.21060607  61.38383435
   15.97335753 162.28252238 368.78265801  15.27133777  21.48970638
   45.46044452   2.36793508 200.83782133]
 [229.46709155   7.06553901  39.82381188 176.94288523  57.91167387
   15.17551171 162.28252238 323.18643214  12.7007382   23.7700602
   24.0643463    2.05396134 223.02675367]
 [237.41926908   7.37783442  39.82381188 176.94288523  56.99794743
   14.90956311 162.28252238 355.31104582  15.6569277   23.34249386
   18.9700372    1.89697447 191.3282789 ]]

Chloride      0.584719
Potassium     0.018370
Bicarb        0.681178
Sodium        0.000000
Hematocrit    0.472988
Hemoglobin    0.031288
MCV           0.000000
Platelets     6.278625
WBC Count     0.279742
RDW           0.117371
BUN           0.059933
Creatine      0.009235
Glucose       1.584924
dtype: float64

In [81]:
md_score_ffill = missing_data_1.copy()
md_score_ffill = md_score_ffill.fillna(method='ffill').fillna(method='bfill') 
imputed_ffill = md_score_ffill.values
print(imputed_ffill)
display(Impute_error(imputed_ffill, ground_data_1))

[[231.45513593   7.06553901  36.5152319  176.94288523  74.7242404
   19.16474078 160.58570238 196.76053313  15.6569277   21.48970638
   52.59247726   3.93780377 202.42274507]
 [233.44318032   6.28480049  36.5152319  176.94288523  69.60737233
   17.30310055 160.58570238 187.43403238  19.76988701  21.48970638
   53.61133908   3.93780377 242.04583853]
 [229.46709155   6.90939131  36.5152319  173.67516439  67.96266473
   17.56904915 155.4952424  213.3409789   28.12433562  22.05979483
   54.6302009    3.7808169  261.06492339]
 [225.49100279   6.5970959   34.86094191 172.58592411  64.85599483
   16.50525473 158.88888239 207.12331174  25.29667609  22.34483906
   49.5358918    3.30985629 199.2528976 ]
 [231.45513593   6.5970959   43.13239186 179.12136579  62.66305137
   15.97335753 160.58570238 195.72425527  19.12723712  22.20231695
   34.2529645    2.83889569 188.15843143]
 [231.45513593   6.4409482   44.78668185 178.03212551  62.66305137
   15.97335753 158.88888239 206.08703388  15.52839772  22.48736117
   30.17751722   2.36793508 192.91320264]
 [229.46709155   6.28480049  46.44097184 176.94288523  62.1148155
   15.70740892 158.88888239 228.88514681  16.04251764  22.62988329
   30.17751722   2.52492195 192.91320264]
 [237.41926908   7.06553901  48.09526183 183.4783269   62.1148155
   15.70740892 158.88888239 228.88514681  16.04251764  22.62988329
   30.17751722   2.68190882 216.68705872]
 [227.47904717   6.12865279  43.13239186 178.03212551  61.20108906
   15.04253741 158.88888239 275.51765054  15.6569277   23.05744963
   30.17751722   2.36793508 433.82161086]
 [235.4312247    7.22168672  43.13239186 181.29984634  63.21128723
   15.97335753 162.28252238 275.51765054  14.88574783  22.7724054
   30.17751722   2.36793508 210.34736376]
 [229.46709155   7.22168672  44.78668185 180.21060607  69.60737233
   17.43607485 160.58570238 375.00032518  21.69783669  22.62988329
   30.17751722   2.52492195 213.51721124]
 [229.46709155   8.00242524  44.78668185 178.03212551  69.60737233
   17.43607485 160.58570238 375.00032518  21.69783669  22.62988329
   33.23410268   2.68190882 208.76244002]
 [227.47904717   7.84627754  41.47810187 175.85364495  68.69364588
   17.17012624 162.28252238 343.91198935  19.2557671   23.19997174
   42.40385906   2.36793508 224.61167741]
 [235.4312247    8.00242524  38.16952189 175.85364495  54.07402281
   13.71279439 160.58570238 390.54449309  20.15547695  23.62753808
   72.96971365   2.21094821 237.29106731]
 [243.38340222   7.53398213  41.47810187 180.21060607  61.38383435
   15.97335753 162.28252238 368.78265801  15.27133777  23.62753808
   45.46044452   2.21094821 200.83782133]
 [243.38340222   7.06553901  39.82381188 176.94288523  57.91167387
   15.17551171 162.28252238 323.18643214  12.7007382   23.7700602
   24.0643463    2.05396134 223.02675367]
 [237.41926908   7.37783442  39.82381188 176.94288523  56.99794743
   14.90956311 162.28252238 355.31104582  12.7007382   23.34249386
   18.9700372    1.89697447 191.3282789 ]]

Chloride      0.233888
Potassium     0.009185
Bicarb        0.291934
Sodium        0.000000
Hematocrit    0.064498
Hemoglobin    0.031288
MCV           0.099813
Platelets     1.097235
WBC Count     0.105848
RDW           0.008384
BUN           0.059933
Creatine      0.000000
Glucose       1.305231
dtype: float64

In [85]:
md_score_bfill = missing_data_1.copy()
md_score_bfill = md_score_bfill.fillna(method='bfill').fillna(method='ffill') 
imputed_bfill = md_score_bfill.values
print(imputed_bfill)
display(Impute_error(imputed_bfill, ground_data_1))

[[231.45513593   7.06553901  36.5152319  176.94288523  74.7242404
   19.16474078 160.58570238 196.76053313  15.6569277   21.48970638
   52.59247726   3.93780377 202.42274507]
 [233.44318032   6.28480049  36.5152319  176.94288523  69.60737233
   17.30310055 160.58570238 187.43403238  19.76988701  21.48970638
   53.61133908   3.93780377 242.04583853]
 [229.46709155   6.90939131  36.5152319  173.67516439  67.96266473
   17.56904915 155.4952424  213.3409789   28.12433562  22.05979483
   54.6302009    3.7808169  261.06492339]
 [225.49100279   6.5970959   34.86094191 172.58592411  64.85599483
   16.50525473 158.88888239 207.12331174  25.29667609  22.34483906
   49.5358918    3.30985629 199.2528976 ]
 [231.45513593   6.5970959   43.13239186 179.12136579  62.66305137
   15.97335753 160.58570238 195.72425527  19.12723712  22.20231695
   34.2529645    2.83889569 188.15843143]
 [231.45513593   6.4409482   44.78668185 178.03212551  62.1148155
   15.70740892 158.88888239 206.08703388  15.52839772  22.48736117
   30.17751722   2.36793508 192.91320264]
 [229.46709155   6.28480049  46.44097184 176.94288523  62.1148155
   15.70740892 158.88888239 228.88514681  16.04251764  22.62988329
   30.17751722   2.52492195 216.68705872]
 [237.41926908   7.06553901  48.09526183 183.4783269   61.20108906
   15.04253741 162.28252238 275.51765054  15.6569277   23.05744963
   30.17751722   2.68190882 216.68705872]
 [227.47904717   6.12865279  43.13239186 178.03212551  61.20108906
   15.04253741 162.28252238 275.51765054  15.6569277   23.05744963
   30.17751722   2.36793508 433.82161086]
 [235.4312247    7.22168672  43.13239186 181.29984634  63.21128723
   15.97335753 162.28252238 375.00032518  14.88574783  22.7724054
   30.17751722   2.36793508 210.34736376]
 [229.46709155   8.00242524  44.78668185 180.21060607  69.60737233
   17.43607485 160.58570238 375.00032518  21.69783669  22.62988329
   30.17751722   2.52492195 213.51721124]
 [229.46709155   8.00242524  44.78668185 178.03212551  68.69364588
   17.17012624 162.28252238 343.91198935  19.2557671   23.19997174
   33.23410268   2.68190882 208.76244002]
 [227.47904717   7.84627754  41.47810187 175.85364495  68.69364588
   17.17012624 162.28252238 343.91198935  19.2557671   23.19997174
   42.40385906   2.36793508 224.61167741]
 [235.4312247    8.00242524  38.16952189 175.85364495  54.07402281
   13.71279439 160.58570238 390.54449309  20.15547695  23.62753808
   72.96971365   2.21094821 237.29106731]
 [243.38340222   7.53398213  41.47810187 180.21060607  61.38383435
   15.97335753 162.28252238 368.78265801  15.27133777  23.7700602
   45.46044452   2.05396134 200.83782133]
 [237.41926908   7.06553901  39.82381188 176.94288523  57.91167387
   15.17551171 162.28252238 323.18643214  12.7007382   23.7700602
   24.0643463    2.05396134 223.02675367]
 [237.41926908   7.37783442  39.82381188 176.94288523  56.99794743
   14.90956311 162.28252238 355.31104582  12.7007382   23.34249386
   18.9700372    1.89697447 191.3282789 ]]

Chloride      0.116944
Potassium     0.036741
Bicarb        0.291934
Sodium        0.000000
Hematocrit    0.032249
Hemoglobin    0.015644
MCV           0.099813
Platelets     4.754687
WBC Count     0.105848
RDW           0.016767
BUN           0.059933
Creatine      0.009235
Glucose       0.093231
dtype: float64